@import url("http://fonts.googleapis.com/css?family=Bitter|Oswald:400,700");
.logo {
  background-position: center;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px; }
  .logo a {
    background-image: url(../img/logo.png);
    background-size: 110px 201px;
    height: 110px;
    width: 201px;
    margin: 0 auto;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999px;
    text-align: center;
    padding: 0px;
    margin-left: -12px; }

header {
  padding-top: 20px;
  width: 100%;
  height: 110px;
  display: block;
  margin-bottom: 30px; }

.mobileNav {
  list-style: none;
  background: #111;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }
  @media (min-width: 1120px) {
    .mobileNav {
      display: none; } }

.siteWrap {
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 0px; }

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0); }
  @media (min-width: 1120px) {
    .nav-trigger {
      display: none; } }

label[for="nav-trigger"] {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #fff url("../img/hamburger.svg") no-repeat center;
  border-radius: 2px; }
  @media (min-width: 1120px) {
    label[for="nav-trigger"] {
      display: none; } }

.nav-trigger:checked + label {
  left: 215px; }

.nav-trigger:checked ~ .siteWrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5); }
  @media (min-width: 1120px) {
    .nav-trigger:checked ~ .siteWrap {
      left: 0px; } }

.nav-trigger + label, .siteWrap {
  transition: left 0.2s; }

body {
  overflow-x: hidden; }

html {
  overflow-x: hidden; }

.mobileNav {
  padding-left: 0px;
  padding: 2px;
  margin-top: 0px; }
  .mobileNav a {
    margin-bottom: 5px;
    text-decoration: none;
    list-style: none;
    font-size: 1em;
    color: #555;
    border: 1px solid #ddd;
    display: block;
    width: 180px;
    padding: 10px;
    padding-left: 0px;
    text-align: center;
    text-transform: uppercase; }
  .mobileNav ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .mobileNav li {
    margin: 10px; }

.hero {
  max-height: 400px;
  overflow: hidden;
  position: relative;
  font-family: "Bitter", serif;
  text-transform: uppercase;
  font-size: 2em;
  color: black; }
  .hero img {
    max-width: 100%; }
  .hero p {
    position: absolute;
    top: 12%;
    right: 5%;
    text-align: right; }
    @media (min-width: 725px) {
      .hero p {
        font-size: 1.8em; } }
    @media (min-width: 1120px) {
      .hero p {
        font-size: 2.8em; } }

.beers {
  text-align: center;
  padding-bottom: 20px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd; }
  .beers p {
    display: block;
    margin: 5% 5%; }
    @media (min-width: 725px) {
      .beers p {
        margin: 2%; } }
  .beers a {
    border-radius: 5%;
    padding: 20px 0px;
    margin: 5% 5%;
    border: 2px solid #ddd;
    background-color: #eee;
    width: 35%;
    display: inline-block;
    text-decoration: none;
    color: #555; }
    .beers a img {
      margin: 0 auto;
      width: 100%; }
    @media (min-width: 725px) {
      .beers a {
        margin: 2%;
        width: 17.5%;
        display: inline-block; } }
    .beers a:hover {
      background-color: red; }
  .beers img {
    width: 190px;
    margin: 0 auto;
    height: 150px; }
  .beers h2 {
    text-align: center; }
  .beers h3 {
    text-align: center;
    padding-top: 5px;
    border-top: 1px solid #ddd;
    padding-top: 40px; }

body {
  font-family: 'Oswald', sans-serif; }
  body h2 {
    text-transform: uppercase; }
  body h3 {
    text-transform: uppercase; }

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

* {
  box-sizing: border-box; }

.invisible {
  text-indent: -9999px;
  display: none; }

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px; }

nav {
  padding-top: 30px;
  display: none;
  width: 100%;
  margin-top: 10px; }
  @media (min-width: 1120px) {
    nav {
      display: inline-block; } }
  @media (min-width: 1120px) {
    nav li {
      display: inline;
      float: left;
      text-align: center;
      width: 25%; } }
  nav a {
    margin-bottom: 5px;
    text-decoration: none;
    list-style: none;
    font-size: 1em;
    color: #555;
    border: 1px solid #ddd;
    display: block;
    padding: 10px;
    text-align: center;
    text-transform: uppercase; }
    @media (min-width: 1120px) {
      nav a {
        border: none; }
        nav a:hover {
          color: red; } }
  nav ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
    @media (min-width: 1120px) {
      nav ul {
        margin: 0 auto; } }

.events {
  display: block;
  padding-left: 0px;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px; }
  .events h2 {
    margin-bottom: 0px;
    text-align: center; }
  .events ul {
    display: inline-block;
    padding-left: 0px;
    vertical-align: top; }
    .events ul li {
      display: block;
      padding-left: 0px;
      width: 100%;
      text-align: center;
      margin-top: 0px; }
  .events li {
    margin-top: 20px;
    display: inline;
    float: left;
    vertical-align: top;
    width: 100%;
    text-align: center; }
    @media (min-width: 1120px) {
      .events li {
        width: 14.285%; } }

footer {
  background-color: #111;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  color: white;
  color: white; }
  footer .fa-facebook-square {
    color: white;
    font-size: 2.5em;
    margin-right: 10px; }
  footer .fa-twitter-square {
    color: white;
    font-size: 2.5em; }
  footer li {
    list-style: none; }
  footer a {
    text-decoration: none;
    color: red; }

.listItem {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
  width: 100%; }
  @media (min-width: 725px) {
    .listItem {
      width: 32%; } }

.media li {
  margin-bottom: 10px; }

.footerList {
  margin-bottom: 0px;
  width: 100%;
  margin: 0 auto;
  padding: 0px; }

.hours {
  padding-left: 0px; }

.media {
  padding-left: 0px; }

.location {
  padding-left: 0px; }

.testimonials {
  display: inline-block; }

.beerLocator {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .beerLocator div {
    padding-bottom: 10px; }
  .beerLocator img {
    max-width: 100%;
    max-height: 400px; }

.map {
  float: left; }

form {
  margin: 0 auto;
  border-top: 2px solid black;
  width: 100%;
  float: right;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px; }
  @media (min-width: 760px) {
    form {
      width: 40%;
      border: none; } }

fieldset {
  padding: 10px 10px 0px 10px;
  margin-right: 5%;
  border: 1px solid #555; }

option {
  padding: 10px;
  margin: 10px; }

.vip {
  margin-top: 30px;
  width: 200px;
  height: 100px;
  border: none; }

.vipc {
  font-size: .8em; }
  .vipc a {
    text-decoration: none;
    color: #0174aa; }

.mapForm {
  border: 3px solid black;
  padding-bottom: 0px !important; }

button {
  color: white;
  background-color: red;
  border: none;
  text-transform: uppercase;
  margin-bottom: 10px; }

.styledSelect {
  display: inline;
  width: 50px;
  height: 34px;
  overflow: hidden;
  background: url(../img/beer.png) no-repeat right #ddd;
  border: 1px solid #ccc; }
  .styledSelect select {
    background: transparent;
    width: 100px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    margin-bottom: 5px; }

.beerDescriptions {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd; }
  .beerDescriptions .beerCard {
    float: left;
    text-align: center;
    padding: 20px 8%;
    margin: 0% 1%;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: #ddd;
    width: 100%; }
    @media (min-width: 725px) {
      .beerDescriptions .beerCard {
        width: 47%; } }
  .beerDescriptions p {
    text-align: left;
    font-size: .8em; }
  .beerDescriptions ul {
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: .8em; }
  .beerDescriptions img {
    width: 190px;
    margin: 0 auto;
    height: 150px; }
  .beerDescriptions h2 {
    text-align: center;
    display: block; }
  .beerDescriptions h3 {
    display: block;
    text-align: center;
    padding-top: 5px;
    border-top: 1px solid #ddd; }

.quote {
  font-style: italic;
  line-height: 1.5; }

.topper {
  display: block;
  width: 100%;
  clear: both;
  text-align: center;
  margin-bottom: 20px; }
  .topper p {
    text-align: center; }
  .topper h3 {
    padding-top: 20px; }

.beerDescriptions {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd; }
  .beerDescriptions article {
    display: block;
    text-align: center;
    padding: 20px 8%;
    margin: 0% 1%;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: #ddd;
    width: 100%; }
  .beerDescriptions p {
    text-align: left;
    font-size: .8em; }
  .beerDescriptions ul {
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: .8em; }
  .beerDescriptions img {
    width: 190px;
    margin: 0 auto;
    height: 150px; }
  .beerDescriptions h2 {
    text-align: center;
    display: block; }
  .beerDescriptions h3 {
    display: block;
    text-align: center;
    padding-top: 5px;
    border-top: 1px solid #ddd; }

/*# sourceMappingURL=styles.css.map */
