

.beers {

				text-align: center;
				padding-bottom: 20px;
				// background-color: #9d9563;
				width: 100%;
				margin: 0 auto;
				border: 5px solid black;

	p {
			display: block;
			margin: 5% 2%;
			
			
			
			
			@include breakpoint ($med) {
				margin: 2%;
			
				
				}
				
			}	

	a {
	
				border-radius: 5%;

				padding: 20px 0px;
				margin: 5% 1%;
				border: 5px solid black;
				// background-color: #eee;
				width: 42%;
				display: inline-block;

				img {
					margin: 0 auto;
					width: 100%;

				}

				@include breakpoint ($med) {
				margin: 1%;
				width: 21%;
				display: inline-block;
				
				}
				@include breakpoint ($large) {
				 &:hover {
				 	background-color: red;
				 	transition: .5s ease;
				 }
				
				}
			
			



			text-decoration: none;
			color: black;
				
		
		}


	img {
		width: 240px;
		margin: 0 auto;
		height: 150px;
	}

	// border-top: 2px solid $border;
	// border-bottom: 2px solid $border;
	h2 {
		text-align: center;
		// font: "Bitter", serif;
		padding-top: 1em;
		margin-top: 0px;
	}
	h3 {
		text-align: center;
		
		// border-top: 1px solid $border;
		padding-top: 2em;
		font-size: 1.5em;


	}

	h4 {
		font-size: 1.25em;
		// text-transform: uppercase;
	}
}


.seasonal {
	@include breakpoint ($med) {
				width: 49%;
				display: inline-block;
				padding-right: 1%;

				a {
					width: 42%;
				}
				
}
}


.IPA {
	@include breakpoint ($med) {
				width: 49%;
				display: inline-block;

				a {
					width: 42%;
				}
				
}
}




.time {
	font-weight: 400;
	margin-bottom: 1em;
}


.todo {
	font-weight: bold;
	font-size: 1.25em;
}







