

.beers {

				text-align: center;
				padding-bottom: 20px;


	p {
			display: block;
			margin: 5% 2%;
			
			
			
			@include breakpoint ($med) {
				margin: 2%;
			
				
				}
				
			}	

	a {
	
				border-radius: 5%;

				padding: 20px 0px;
				margin: 5% 1%;
				border: 2px solid $border;
				background-color: #eee;
				width: 42%;
				display: inline-block;

				img {
					margin: 0 auto;
					width: 100%;

				}

				@include breakpoint ($med) {
				margin: 1%;
				width: 21%;
				display: inline-block;
				
				}

			
			



			text-decoration: none;
			color: $textColor;
				
		
		}


	img {
		width: 190px;
		margin: 0 auto;
		height: 150px;
	}

	border-top: 2px solid $border;
	border-bottom: 2px solid $border;
	h2 {
		text-align: center;
	}
	h3 {
		text-align: center;
		padding-top: 5px;
		border-top: 1px solid $border;
		padding-top: 40px;

	}

	h4 {
		font-family: "Bitter", sans-serif;
	}
}


