
footer {

	display: block;
	
	background-color: #111;
	width: 100%;
	// margin: 0 auto;
	text-align: left;
	padding-top: 4em;
	padding-bottom: 4em;
	color: white;

.fa-facebook-square {
	color:#3b5998;
	font-size: 2.5em;
	margin-right: .25em;
}

.fa-twitter-square {
	color: #4099ff;
	font-size: 2.5em;
}

.fa-envelope-square {
	color: white;
	font-size: 2.5em;
	margin-right: .25em;
}



li {
	list-style: none;


}

a {
	text-decoration: none;
	color: red;
}

}


.listItem {
display: inline-block;
text-align: left;

vertical-align: top;

font-size: .85em;
padding-right: 5%;

&:nth-child(2) {
	padding-right: 0px;
}
	
}


.media { 
	margin-top: 1em;
	padding-left: 0px;
	li {
		margin-bottom: 10px;
	}
}	

.footerList {
	margin-bottom: 0px;
	display: inline;
	text-align: center;
	
	padding-left: 5%;
	
	
}

.hours {
	padding-left: 0px;
}

.contacts {
	padding-left: 5%;
}


.location {
	padding-left: 0px;
}

.footerHours {
	td {
		padding: .25em;
		td:first-child {
			padding-right: 50px;
		}
	}
}

table {
	td:first-child {
		padding-right: .75em;
	}
}

.contactUs {
	padding-top: 1.8em;
}



