
footer {
	background-color: #111;

.fa-facebook-square {
	color:#3b5998;
}

.fa-twitter-square {
	color: #4099ff;
}

margin-bottom: 200px;

color: $footerText;

}


.listItem {
display: inline-block;
	
}






