nav {
	padding-top: 15px;
	display:none;
	width: 100%;
	@include breakpoint ($large) {
		display: inline-block;
		


			}


	// margin-top:10px;

	li {
		@include breakpoint ($large) {
		display: inline;
		float:left;
		text-align: center;
		width: 25%;

			}
	}	
	a {
		margin-bottom: 5px;
		text-decoration: none;
		list-style: none;
		font-size: 1.5em;
		font-weight: bold;
		color: black;
		border:1px solid $border;
		display: block;
		padding: 10px;
		text-align:center;
		text-transform: uppercase;
		@include breakpoint ($large) {
		border: none;
		

			}
	}

	ul {
		list-style: none;
		padding-left: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		
		@include breakpoint ($large) {
		margin: 0 auto;

			}
	}


}